<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UWB</title>

    <link href="{{ url_for('static', filename='plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.bundle.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>


    <div class="container1">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/" method="POST" class="sign-in-form form1">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name ="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name = "password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Login" class="btn1 solid" />
    
    
                </form>
    
            </div>
        </div>
    
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content fontthi">
                    <h1>ระบบระบุตำแหน่งภายในอาคาร</h1>
                    <p style="font-size: 15px;">
                        ระบบระบุตำแหน่งภายในอาคารโดยใช้เทคโนโลยี อัลตร้าไลท์แบน มาประยุกต์ใช้งาน
                    </p>
    
                </div>
                <img src="{{ url_for('static', filename='images/undraw_internet_on_the_go_re_vben.svg') }}" class="image" alt="" />
            </div>
    
        </div>
    </div>
    
</body>
</html>

